@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.fontSelectContainer {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #202930;
    margin-top: 125px;
}

.fontSelector {
    background: #feffff;
    padding-bottom: 75px;
    margin: 0 auto;
}

#buyFontContainer {
  padding: 0 35px;
}

.buyFontText {
  font-size: 1.25rem;
  hyphens: auto;
}

@media only screen and (max-width: 1200px) {
  .tab-fonts_a {
    text-align: left;
    margin-left: 20px;
  }
  
  .tab-fonts_b {
    text-align: right;
    margin-right: 20px;
  }

  .btn112 {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
    margin-top: 0;
    margin-left: 0;
    height: 220px;
    display: flex;
  }
  
  .btn113 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  
  .btn114 {
    grid-column: 2;
    grid-row: 2 / 2;
  }

  .btnText {
    font-size: 1rem;
    margin-left: 20px;
    width: 200px;
  }
  
  .btn112 .btnText {
    margin-left: 20px;
    width: 450px;
  }
  
  .btnText ul {
    margin-top: 0;
  }
  
  .btn112 .btnText ul {
    position: relative;
    top: -15px;
  }

  .btnText ul li::before {
    top: .65rem;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    margin-top: 0;
  }

  .tab-fonts_a {
    margin-left: 15px;
  }
  
  .tab-fonts_b {
    margin-right: 15px;
  }

  .btn112 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-top: 0;
    margin-left: 0;
    height: 170px;
  }
  
  .btn113 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  
  .btn114 {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
  }

  .btnText {
    font-size: .75rem;
    margin-left: 15px;
    display: inline-block;
  }

  .btn112 .btnText {
    font-size: .9rem;
    margin-left: 0;
  }

  .btnText ul {
    width: 200px;
    margin-top: 0;
    left: 15px;
  }

  .btn112 .btnText ul {
    top: 0;
    width: 250px;
  }

  .btnText ul li::before {
    font-size: 2rem;
    width: 1.15rem;
    margin-left: -1.15rem;
  }

  #panelContainer {
    padding: 0 25px;
  }
  
  .panelText {
    margin-bottom: 35px;
    font-size: 1rem;
  }
}