@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.fontSelectContainer {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #202930;
    margin-top: 125px;
}

.fontSelector {
    background: #feffff;
    padding-bottom: 75px;
    margin: 0 auto;
}

.btnIcon {
  width: 140px;
  height: 140px;
  border : 2px solid #000001;
  border-radius: 25px;
  padding: 6px;
}

.btn112 .btnIcon {
  width: 200px;
  height: 200px;
}

.btnIcon div {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
}

.btnIcon span {
  color: #fff;
  opacity: 30%;
  font-size: 2.4rem;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 12.5%;
}

.btn112 {
  grid-column: 1 / span 3;
  grid-row: 1 / 3;
  display: block;
  margin-top: 35px;
  margin-left: 35px;
}

.btn113 {
  grid-column: 4 / 8;
  grid-row: 1 / 2;
}

.btn114 {
  grid-column: 4 / 8;
  grid-row: 3 / 2;
}

.btn112 .btnIcon span {
  font-size: 4rem;
}

.btnText {
  font-size: 2rem;
  font-weight: 500;
  hyphens: auto;
  max-width: 350px;
  margin-left: 50px;
}

.btnText ul {
  padding-left: 0;
  margin-top: 20px;
  position: relative;
  left: 15px;
  list-style: none;
}

.btnText ul li::before {
  content: "\2022";
  color: #96a1b3;
  font-weight: bold;
  display: inline-block; 
  width: 2rem;
  margin-left: -2rem;
  position: relative;
  top: .5rem;
  font-size: 4rem;
}

.btn112 .btnText {
  margin-left: 0;
}

.btn112 ul {
  left: 30px;
  top: 10px;
}

#buyFontContainer {
  padding: 0 35px;
}

.buyFontText {
  font-size: 1.25rem;
  hyphens: auto;
}

@media only screen and (max-width: 1200px) {
  .tab-fonts_a {
    text-align: left;
    margin-left: 20px;
  }
  
  .tab-fonts_b {
    text-align: right;
    margin-right: 20px;
  }

  .btn112 {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
    margin-top: 0;
    margin-left: 0;
    height: 220px;
    display: flex;
  }
  
  .btn113 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  
  .btn114 {
    grid-column: 2;
    grid-row: 2 / 2;
  }

  .btnIcon {
    width: 70px;
    height: 70px;
    margin-left: 10px;
  }

  .btn112 .btnIcon {
    width: 90px;
    height: 90px;
  }

  .btnIcon span {
    font-size: 1.4rem;
  }

  .btn112 .btnIcon span {
    font-size: 2rem;
  }

  .btnText {
    font-size: 1rem;
    margin-left: 20px;
    width: 200px;
  }
  
  .btn112 .btnText {
    margin-left: 20px;
    width: 450px;
  }
  
  .btnText ul {
    margin-top: 0;
  }
  
  .btn112 .btnText ul {
    position: relative;
    top: -15px;
  }

  .btnText ul li::before {
    top: .65rem;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    margin-top: 0;
  }

  .tab-fonts_a {
    margin-left: 15px;
  }
  
  .tab-fonts_b {
    margin-right: 15px;
  }

  .btn112 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-top: 0;
    margin-left: 0;
    height: 170px;
  }
  
  .btn113 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  
  .btn114 {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
  }

  .btnIcon {
    width: 55px;
    height: 55px;
    margin-left: 0;
  }

  .btn112 .btnIcon {
    width: 85px;
    height: 85px;
  }

  .btnIcon span {
    font-size: 1.25rem;
  }

  .btn112 .btnIcon span {
    font-size: 2.2rem;
  }

  .btnText {
    font-size: .75rem;
    margin-left: 15px;
    display: inline-block;
  }

  .btn112 .btnText {
    font-size: .9rem;
    margin-left: 0;
  }

  .btnText ul {
    width: 200px;
    margin-top: 0;
    left: 15px;
  }

  .btn112 .btnText ul {
    top: 0;
    width: 250px;
  }

  .btnText ul li::before {
    font-size: 2rem;
    width: 1.15rem;
    margin-left: -1.15rem;
  }

  #panelContainer {
    padding: 0 25px;
  }
  
  .panelText {
    margin-bottom: 35px;
    font-size: 1rem;
  }
}